@charset "utf-8";
/* 공통 css */
.contants{max-width: 1280px; margin: 0 auto;}

/* 전체를 묶는 클레스 */
.wrapper{background: url(../images/bg_mv.png); height: 740px;}

.gnb-wrap{display: flex; align-items: center; height: 77px; line-height: 77px;}
.gnb-wrap .header-logo{flex: 1 1 20%;}
.gnb-wrap .header-logo img{max-width: 120px;}
.gnb-wrap .gnb{flex: 1 1 50%; }
.gnb-wrap .gnb ul{display: flex; justify-content: space-around;}
.gnb-wrap .gnb ul li a{font-size: 18px; font-weight: 500;}
.gnb-wrap .snb{flex: 1 1 30%;}
.gnb-wrap .snb ul{display: flex;}
.gnb-wrap .snb ul li{padding: 0 10px;}
.gnb-wrap .snb ul li img{width: 14px; height:17px;}
.gnb-wrap .snb ul li span{display: inline-block; margin-left: 2px;}
.gnb-wrap .snb ul li:last-child img{width: 23px; height: 22px;}

/*hover 됐을때
.gnb-wrap .snb ul li a{color: #505050;}
 */

 /* 펼처지는 메뉴 시작 */
.all-menu{background: #f5f9fb; height: 227px; display: none; position: absolute; width: 100%; top: 90px;}
.all-menu.on{display: block}

.all-menu .array{display: flex;}
.all-menu .menu-tit{background: url(../images/bg_gnb_twodep.png) no-repeat; width:276px; height: 227px; background-size: cover;}
.all-menu .menu-tit .menu-cont{padding:30px}
.all-menu .menu-tit .menu-cont h2{font-size: 25px; padding-bottom: 5px; color: #fff;}
.all-menu .menu-tit .menu-cont p{font-size: 17px; color: #efefef;}
.all-menu .menu-list{ overflow: hidden; display: flex; flex: 1; padding-top: 37px;}
.all-menu .menu-list ul{padding-left: 40px; position: relative; flex: 1;}
/* .all-menu .menu-list ul + ul::after{content:""; position: absolute; left: 0; top: 0; height: 100px; border: 1px solid #191a1a;} */
.all-menu .menu-list ul li{list-style: disc; padding-bottom: 7px;}
.all-menu .menu-list a{color: #323232; font-size: 17px;}
.list-icon-img a img{width: 14px; height: 14px;}
/* 펼쳐지는 메뉴 끝 */

/* 컨텐츠 내용시작 */
/* 서울시민의소리~ */
.cont-comm{display: flex; justify-content: space-around; padding-top: 50px;}
.cont-wrap {flex: 1 1 60%;}
.cont-wrap .cont-area{position: relative; display: inline-block;}
.cont-wrap .cont-area::before{content:""; clear: both; background: url(../images/sound.png)no-repeat; width: 135px; height: 61px; position: absolute; bottom: -6px; right: -136px;}
.cont-wrap .cont-area h2{font-size: 58px; color: #fff; font-weight: 600;}
.cont-wrap .cont-area span{color: #cde317;}
.cont-wrap .cont-area i{display: inline-block; padding: 0 18px;}
.cont-wrap .cont-txt{margin-top: 40px;}
.cont-wrap .cont-txt .txt1{color: #fff; font-weight: 600; font-size: 18px; margin-bottom: 13px;}
.cont-wrap .cont-txt .txt2{color: #fff; font-size: 17px;}

/* 코로나19 */
.cont-wrap1{display: inline-flex; flex-direction: column; flex: 1 1 40%;}
.cont-wrap1 .cont-area1{display: inline-block; border: 1px solid #959bc2; border-radius: 10px 10px 0 10px; padding: 6px; margin-bottom: 6px; max-width: 320px; width: 100%; box-sizing: border-box;}
.cont-wrap1 .cont-area1 p{color: #fff; font-size: 16px; text-align: center;}
.cont-wrap1 .cont-area1 span{color: #cde317; padding: 6px;}
.cont-wrap1  .cont-txt1-box{background-color: #fff; display: inline-block;  border-radius: 10px 10px 0 10px; max-width: 320px; width: 100%;}
.cont-wrap1 .cont-txt1 .txt-inner{padding: 20px 12px;}
.cont-wrap1 .cont-txt1 .txt-inner + .txt-inner{border-top: 1px dotted #000;}
.cont-wrap1 .cont-txt1 .inner-box{background-repeat: no-repeat; background-size: contain; background-position: right;}
.cont-wrap1 .cont-txt1 .txt-inner .inner-box1{ background-image:url(../images/ico_mvobj1.png);}
.cont-wrap1 .cont-txt1 .txt-inner .inner-box2{background-image:url(../images/ico_mvobj2.png);}
.cont-wrap1 .cont-txt1 .inner-box span{color: #d82f97; font-size: 16px; font-weight: 600;}
.cont-wrap1 .cont-txt1 .inner-box h2{color: #3b3f49; font-size: 23px; font-weight: 600;}
.cont-wrap1 .cont-txt1 .inner-box p{color: #6f6f6f; padding-top: 6px;}  
.cont-txt2{background-color: #f2f8fd; padding: 10px 12px;}
.cont-txt2 p{color:#2d2e38;}
.cont-txt2 p span{font-weight: 600;}
.cont-txt2 p span.style-color{color: #e62453;}
.cont-txt2 p img{width: 19px; height: 19px;}
/* 컨텐츠 내용 끝 */