@font-face {
    font-family: 'GmarketSansBold';
    src: url('./webfont/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('./webfont/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('./webfont/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-Regular.woff2') format("woff2"),
      url('./webfont/NotoSans-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans KR'),
      url('./webfont/NotoSans-Medium.woff2') format("woff2"),
      url('./webfont/NotoSans-Medium.ttf') format("truetype");
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans KR'), 
      url('./webfont/NotoSans-Bold.woff2') format("woff2"),
      url('./webfont/NotoSans-Bold.ttf') format("truetype");
}